<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tanhuan.order.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.example.tanhuan.order.pojo.Order">
            <id property="orderId" column="order_id" jdbcType="INTEGER"/>
            <result property="orderCode" column="order_code" jdbcType="VARCHAR"/>
            <result property="orderNum" column="order_num" jdbcType="VARCHAR"/>
            <result property="orderName" column="order_name" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="flag" column="flag" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id,order_code,order_num,
        order_name,status,flag
    </sql>
</mapper>
